.carousel{
    position: absolute;
    top: 50%;
    left: 30%;
    margin: 0;
    z-index: 1;
    text-align: center;
    width: 70%;
    height: 100%;
    transform: translateY(-50%);
    .swiper-container{
        height: 100%;
        img{
            display: inline-block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: middle;
        }
        .swiper-pagination-bullets{
            position: absolute;
            bottom: 0;
            .swiper-pagination-bullet-active{
                background: $secondary;
            }
        }
    }
    .swiper-slide{
        display: flex;
    }
    @media #{$medium-and-down} {
        left: 0px;
        width: 100%;
        top: 30%;
        transform: none;
        height: 700px;
    }
    @media #{$small-and-down} {
        width: 100%;
        position: relative;
        display: block;
        transform: none;
        left: 0;
        height: 70vh;
        .swiper-container{
            height: auto;
            margin-bottom: 20px;
        }
    }
}