.hero {
    padding: 0 1.875rem;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 30%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    vertical-align: top;
    .title,
    .description {
        text-align: left;
    }
    .title {
        font-weight: 800;
        letter-spacing: 0.25rem;
        font-size: 6.25rem;
        color: $secondary;
    }
    .description {
        font-weight: 600;
        line-height: 1.6;
        font-size: 1.125rem;
        margin-bottom: 1.75rem;
    }
    .contact {
        font-size: 1.125rem;
        display: table;
        margin-top: 1.875rem;
        padding: 0.75rem 4.375rem;
        transition: all 0.225s ease;
        text-decoration: none;
        color: $white;
        border: 0.125rem solid $primary;
        background-color:  $primary;
        &:hover {
            color: $primary;
            background-color: $white;
        }
    }
    @media #{$big-and-down}{
        margin-top: 40px;
        .title{
            font-size: 5.25rem;
        }
    }
    @media #{$medium-and-down}{
        margin-top: 60px;
        width: 90%;
        padding: 0px;
        position: relative;
        display: block;
        .title{
            font-size: 4.00rem;
        }
        .contact{
            display: block;
            text-align: center;
        }
    }
    @media #{$small-and-down}{
        margin-top:0px;
    }
}