.serie{
    min-height: 120px;
    margin: 0px;
    margin-top: 20px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    .serie__name{
        margin: 0px;
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5em;
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1.25rem;
        text-transform: capitalize;
        @media #{$small-and-down} {
            font-size: 4rem;
        }
    }
    .serie__images{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        padding-top: 10px;
        height: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }
    .serie__primary, .serie__secondary{
        display: flex;
        height: 100%;
        justify-content: center;
        width:100%;
        max-width: 400px;
    }
    .serie__primary{
        justify-content: left;
    }
    .serie__secondary{
        flex-direction: column;
        justify-content: right;
        & > div{
            display: flex;
            align-items: right;
            margin-bottom: 10px;
        }
    }
    .serie__image {
        margin: 5px;
        height: auto;
        transition: filter 1s;
        width: 100%;
        &:hover{
            filter: grayscale(100%)
        }
        &.--left{
            margin-left: auto;
        }
        @media #{$small-and-down} {
            height: 100%;
        }
    }
}