.serie {
    column-count: 2;
    column-gap: 0;
    counter-reset: item-counter;
    cursor: pointer;
    .serie__image {
        box-sizing: border-box;
        break-inside: avoid;
        padding: 0px;
        counter-increment: item-counter;
        position: relative;

        img {
            width: 100%;
        }

        .serie__info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: $white;
            background: $hoverblack;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            will-change: opacity;
            transition: opacity 1s;
            h3{
                padding: 0px;
                font-size: 2.3rem;
            }
        }

        &:hover {
            .serie__info {
                opacity: 1;
            }
        }
    }
    @media #{$small-and-down} {
        column-count: 1;
    }
}