.singleserie{
    .singleserie_info{
        display: inline-block;
        width: 12%;
        padding: 50px 30px;
        position: absolute;
        top: 0px;
        #description h2{
            font-size: 20px;
            font-weight: normal;
        }
    }
    @media #{$small-and-down} {
        .singleserie_info{
            display: block;
            width: 100%;
            position: relative;
        }
    }
}