.singleserie{
    .singleserie_info{
        display: inline-block;
        width: 25%;
        padding: 50px 30px;
        position: absolute;
        top: 0px;
        #description h2{
            font-size: 20px;
            font-weight: normal;
        }
        .__button-container{
            text-align: right;
        }
        .__button{
            border: none;
            font-size: 22px;
            color: $secondary;
            border: none;
            font-size: 22px;
            background: none;
            cursor: pointer;
            &:active{
                color: darken($primary, 10%);
                outline: none;
            }
            &:focus{
                outline: none; 
            }
        }
    }
    .singleserie_images{
        position: relative;
        top: 100vh;
        padding: 100px 30px;
        padding-bottom: 0px;
        .serie{
            margin: 0px;
        }
    }
    @media #{$medium-and-down} {
        .singleserie_info{
            width: 70%;
            z-index: 2;
        }
    }
    @media #{$small-and-down} {
        .singleserie_info{
            display: block;
            position: relative;
            padding-left: 0%;
            padding-right: 0%;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            .__button-container{
                display: none
            }
        }
        .singleserie_images{
            padding: 0px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}