.transition {
    width: 100%;
    position: fixed;
    height: 100%;
    border-radius: 0%;
    transform-origin: center center;
    will-change: transform;
    transform: scale(0.1) translateZ(0) translateY(-50%) translateX(50%);
    opacity: 0;
    &.open {
        transform: scale(2) translateZ(0) translateY(-10%) translateX(-10%);
        transition: transform 0.3s, width 0.3s, height 0.3s linear;
        z-index: 99;
        opacity: 1;
    }
    &.close {
        height: 0;
    }
    @media #{$small-and-down} {
       display: none;
    }
}