body {
    padding: 0px;
    margin: 0px;
    min-height: 99vh;
    background: $white;
    font-family: 'Nunito', sans-serif;
    @media #{$small-and-down} {
        overflow-x: hidden;
    }
    .container{
        display: block;
        .images{
            display: inline-flex;
            width: 55%;
            @media #{$big-and-up}{
                width: 64%;
            }
            @media #{$medium-and-down} {
                width: 90%;
                display: block;
                margin: auto;
                margin-top: 50px;        
            }
        }
    }
}

h4{
    color: $secondary;
    font-size: 2.25rem;
}

a {
    color: $secondary;
}

.__noevent{
    pointer-events: none;
}